In [1]:
a = [1,2,3]
b=a
a.append(4)
b

[1, 2, 3, 4]

In [4]:
class Gizmo:
    def __init__(self):
        print("Gizmo id: %d" % id(self))

x=Gizmo()
y=Gizmo() * 10

Gizmo id: 135891569173392
Gizmo id: 135891840666944

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [5]:
dir()

['Gizmo',
 'In',
 'Out',
 '_',
 '_1',
 '_3',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'exit',
 'get_ipython',
 'quit',
 'x',
 'y']

In [7]:
charles = {'name': 'Charles L. Dodgson', 'born':1832}
lewis = charles

In [8]:
lewis is charles

True

In [9]:
id(charles), id(lewis)

(135891558239104, 135891558239104)

In [10]:
lewis['balance'] = 950 # lewis에 항목을 추가하는 것은 charles에 항목을 추가하는 것과 동일
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [11]:
alex = {'name': 'Charles L. Dodgson', 'born':1832, 'balance': 950}
alex == charles

True

In [12]:
alex is charles

False

In [13]:
x is None
x is not None

True

In [14]:
t1 = (1, 2, [30, 40])
t2 = (1, 2, [30, 40])
t1 == t2, t1 is t2

(True, False)

In [15]:
id(t1[-1])

135891557274176

In [16]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 135891557274176)

In [17]:
t1 == t2

False

In [20]:
l1 = [3, [55, 44], (7, 8, 9)]
l2 = list(l1)
l2

[3, [55, 44], (7, 8, 9)]

In [21]:
l2==l1

True

In [22]:
l2 is l1

False

In [23]:
l1 = [3, [66, 55, 44], (7, 8, 9)]
l2 = list(l1)

In [27]:
l1.append(100)

In [26]:
l1[1].remove(55)
print('l1', l1)
print('l2', l2)

l1 [3, [66, 44], (7, 8, 9), 1000, 100]
l2 [3, [66, 44], (7, 8, 9)]

In [28]:
l2[1] += [33, 22]

In [29]:
l2[2] += (10, 11)
print('l1', l1)
print('l2', l2)

l1 [3, [66, 44, 33, 22], (7, 8, 9), 1000, 100, 100]
l2 [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

In [30]:
class Bus:
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.appeend(name)

    def drop(self, name):
        self.passengers.remove(name)

In [31]:
import copy
bus1 = Bus(['Alice', 'Bill', 'Clarie', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(135891569149760, 135891569237200, 135891569230432)

In [32]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Clarie', 'David'],
 ['Alice', 'Clarie', 'David'],
 ['Alice', 'Bill', 'Clarie', 'David'])

In [33]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(135891557922816, 135891557922816, 135891556250432)

In [34]:
a = [10, 20]
b = [a, 30]
a.append(b)
a

[10, 20, [[...], 30]]

In [35]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [36]:
def f(a,b):
    a += b
    return a

In [37]:
x = 1
y = 2
f(x, y), (x, y)

(3, (1, 2))

In [39]:
a = [1,2]
b = [3,4]
f(a, b), (a, b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [40]:
t = (10, 20)
u = (30, 40)
f(t,u), (t,u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [41]:
class HauntedBus:
    """유령 승객이 출몰하는 버스 모델"""

    def __init__(self, passengers=[]):
        # p[] 가 intepret 단계에서 생성되며 모든 인스턴스들이 같은 대상을 참조하게되어 오류 발생
        self.passengers = passengers

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [42]:
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [43]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [44]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [45]:
bus3 = HauntedBus()
bus3.passengers # 초기값이 더이상 empty가 아님!

['Carrie']

In [46]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [47]:
bus2.passengers is bus3.passengers

True

In [48]:
bus1.passengers

['Bill', 'Charlie']

In [49]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [50]:
HauntedBus.__init__.__defaults__[0] is bus2.passengers
# bus2.passengers가 HauntedBus.__init__.__defaults__[0] 에 바인딩된 별명임을 알 수 있다.

True

In [51]:
class TwilightBus:
    """승객이 사라지게 만드는 버스 모델"""

    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = passengers # 사본 생성이 아니라 인수를 별명으로 사용

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [54]:
basketball_team = ['Sue', 'Tina', 'Maya', "Diana", "Pat"]
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team # 선수단이 변경되어 버림

['Sue', 'Maya', 'Diana']

In [55]:
class TwilightBus:
    """승객이 사라지게 만드는 버스 모델"""

    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [56]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [60]:
import weakref
s1 = {1, 2, 3}
s2 = s1
def bye():
    print('Gone with the wind...')

ender = weakref.finalize(s1, bye)
ender.alive

True

In [61]:
del s1
ender.alive

True

In [62]:
s2='spam'

Gone with the wind...

In [63]:
ender.alive

False