In [65]:
a = [1,2,3]
b=a
a.append(4)
b

[1, 2, 3, 4]

In [66]:
class Gizmo:
    def __init__(self):
        print("Gizmo id: %d" % id(self))

x=Gizmo()
y=Gizmo() * 10

Gizmo id: 135891569218224
Gizmo id: 135891569187616

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [103]:
dir()

['Bus',
 'Gizmo',
 'HauntedBus',
 'In',
 'Out',
 'TwilightBus',
 '_',
 '_1',
 '_10',
 '_100',
 '_102',
 '_11',
 '_12',
 '_13',
 '_14',
 '_15',
 '_16',
 '_17',
 '_20',
 '_21',
 '_22',
 '_3',
 '_31',
 '_32',
 '_33',
 '_34',
 '_35',
 '_37',
 '_38',
 '_39',
 '_40',
 '_42',
 '_43',
 '_44',
 '_45',
 '_46',
 '_47',
 '_48',
 '_49',
 '_5',
 '_50',
 '_54',
 '_56',
 '_58',
 '_59',
 '_60',
 '_61',
 '_63',
 '_64',
 '_65',
 '_67',
 '_68',
 '_69',
 '_76',
 '_77',
 '_78',
 '_79',
 '_8',
 '_80',
 '_82',
 '_83',
 '_84',
 '_86',
 '_87',
 '_88',
 '_89',
 '_9',
 '_90',
 '_91',
 '_92',
 '_93',
 '_94',
 '_96',
 '_98',
 '_99',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i100',
 '_i101',
 '_i102',
 '_i103',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i76',
 '_i77',
 '_i78',
 '_i79',
 '_i8',
 '_i80',
 '_i81',
 '_i82',
 '_i83',
 '_i84',
 '_i85',
 '_i86',
 '_i87',
 '_i88',
 '_i89',
 '_i9',
 '_i90',
 '_i91',
 '_i92',
 '_i93',
 '_i94',
 '_i95',
 '_i96',
 '_i97',
 '_i98',
 '_i99',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'alex',
 'b',
 'basketball_team',
 'bus',
 'bus1',
 'bus2',
 'bus3',
 'bye',
 'c',
 'charles',
 'copy',
 'ender',
 'exit',
 'f',
 'get_ipython',
 'l1',
 'l2',
 'lewis',
 'quit',
 's2',
 't',
 't1',
 't2',
 'u',
 'weakref',
 'x',
 'y']

In [104]:
charles = {'name': 'Charles L. Dodgson', 'born':1832}
lewis = charles

In [105]:
lewis is charles

True

In [106]:
id(charles), id(lewis)

(135891556599232, 135891556599232)

In [107]:
lewis['balance'] = 950 # lewis에 항목을 추가하는 것은 charles에 항목을 추가하는 것과 동일
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [108]:
alex = {'name': 'Charles L. Dodgson', 'born':1832, 'balance': 950}
alex == charles

True

In [109]:
alex is charles

False

In [110]:
x is None
x is not None

True

In [111]:
t1 = (1, 2, [30, 40])
t2 = (1, 2, [30, 40])
t1 == t2, t1 is t2

(True, False)

In [112]:
id(t1[-1])

135891557235136

In [113]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 135891557235136)

In [114]:
t1 == t2

False

In [115]:
l1 = [3, [55, 44], (7, 8, 9)]
l2 = list(l1)
l2

[3, [55, 44], (7, 8, 9)]

In [116]:
l2==l1

True

In [117]:
l2 is l1

False

In [118]:
l1 = [3, [66, 55, 44], (7, 8, 9)]
l2 = list(l1)

In [119]:
l1.append(100)

In [120]:
l1[1].remove(55)
print('l1', l1)
print('l2', l2)

l1 [3, [66, 44], (7, 8, 9), 100]
l2 [3, [66, 44], (7, 8, 9)]

In [121]:
l2[1] += [33, 22]

In [122]:
l2[2] += (10, 11)
print('l1', l1)
print('l2', l2)

l1 [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2 [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

In [123]:
class Bus:
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.appeend(name)

    def drop(self, name):
        self.passengers.remove(name)

In [124]:
import copy
bus1 = Bus(['Alice', 'Bill', 'Clarie', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(135891569279248, 135891569294560, 135891569285968)

In [125]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Clarie', 'David'],
 ['Alice', 'Clarie', 'David'],
 ['Alice', 'Bill', 'Clarie', 'David'])

In [126]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)
# bus1과 bus2가 동일 리스트를 공유한다. 반면 bus3는 다른 리스트르르 가리킨다.

(135891555318848, 135891555318848, 135891556245120)

In [127]:
a = [10, 20]
b = [a, 30]
a.append(b)
a

[10, 20, [[...], 30]]

In [128]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [129]:
def f(a,b):
    a += b
    return a

In [130]:
x = 1
y = 2
f(x, y), (x, y)

(3, (1, 2))

In [131]:
a = [1,2]
b = [3,4]
f(a, b), (a, b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [132]:
t = (10, 20)
u = (30, 40)
f(t,u), (t,u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [133]:
class HauntedBus:
    """유령 승객이 출몰하는 버스 모델"""

    def __init__(self, passengers=[]):
        # [] 가 intepret 단계에서 생성되며 모든 인스턴스들이 같은 대상을 참조하게되어 오류 발생
        self.passengers = passengers

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [134]:
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [135]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [136]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [137]:
bus3 = HauntedBus()
bus3.passengers # 초기값이 더이상 empty가 아님!

['Carrie']

In [138]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [139]:
bus2.passengers is bus3.passengers

True

In [140]:
bus1.passengers

['Bill', 'Charlie']

In [141]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [142]:
HauntedBus.__init__.__defaults__[0] is bus2.passengers
# bus2.passengers가 HauntedBus.__init__.__defaults__[0] 에 바인딩된 별명임을 알 수 있다.

True

In [143]:
class TwilightBus:
    """승객이 사라지게 만드는 버스 모델"""

    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = passengers # 사본 생성이 아니라 인수를 별명으로 사용

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [144]:
basketball_team = ['Sue', 'Tina', 'Maya', "Diana", "Pat"]
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team # 선수단이 변경되어 버림

['Sue', 'Maya', 'Diana']

In [145]:
class TwilightBus:
    """승객이 사라지게 만드는 버스 모델"""

    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [146]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [147]:
import weakref
s1 = {1, 2, 3}
s2 = s1
def bye():
    print('Gone with the wind...')

ender = weakref.finalize(s1, bye)
ender.alive

True

In [148]:
del s1
ender.alive

True

In [149]:
s2='spam'

Gone with the wind...

In [150]:
ender.alive

False